//navbar =>
$navBg:rgb(17, 157, 164);


// body =>
$container:rgb(248, 242, 220);
$bodytxt:rgb(205, 70, 49);
$box:rgb(129, 173, 200);
$lightgray:rgba(226, 222, 184,);

// box shadows =>

$boxShadow:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;









